.card {
    background-image: url('/public/element.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 30px !important;
}

.button {
    background-color: #fff17c !important;
    color: black !important;
    border: none !important;
    border-radius: 20px !important;
}

.button:hover {
    background-color: #ffbd43 !important;
}